.app{
  background: $background-color;
  color: $secondary-color;
  height: 100vh;
  font-family: 'Lato';

  @include flex-center;

  .home_button {
    color: Blue;
  width: fit-content;
    margin-top: 2vh;
  }
}.mapComponent{
  height: 100vh;
  width: 100vw;
 }